body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh; 
    margin: 0;
    background-image: url("media/pyt3d7vxk1aa1.png");
}
.login-container{
    width: 800px;
    height: 510px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(65, 65, 126);
    border: 3px solid rgb(31, 31, 68);
    border-radius: 20px;
    box-shadow: 0px 0px  20px black;
}
.formz{
    display: flex;
    flex-direction: column;
}
.title{
    font-family: 'Poppins', sans-serif;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 50px;
    text-align: center;
}
label{
    font-size: 19px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
#login, #register{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 80px;
    height: 35px;
    color: white;
    background-color: rgb(66, 66, 124);
    border: 2px solid rgb(31, 31, 68);
    border-radius: 5px;
    margin: 6px;
}
input{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    align-self: flex-end;
    height: 17px;
    border-radius: 5px;
    padding: 3px;
}
p{
    text-align: center;
    font-size: 23px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: whitesmoke;
    font-family: 'Rubik Mono One', sans-serif;
    margin-top: -15px;
}
#register_dis, #login_dis{
    text-align: left;
    margin-top: 0px;
    font-size: 15px;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
    color: red;
    margin-bottom: -5px;
    font-family: 'Poppins', sans-serif;
} #register_dis {
    font-size: 13px;
}
.logins{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.login-side, .register-side{
    box-shadow: 0px 0px  10px black;
    border-radius: 10px;    
    border: 2px solid rgb(50, 50, 119);
    padding: 50px;
    background-color: rgb(49, 49, 101);
}
.acknowledge{
    font-family: 'Poppins', sans-serif;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
    color: white;
    margin-top: 8px;
}
a{
    text-decoration: none;
    color: white;
}
@media (max-width: 480px) {
    .login-container {
        width: 80%;
        padding: 10px;
        height: max-content;
    }
    .login-side, .register-side{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        align-self: center;
        margin-top: 7px;
        box-shadow: 0px 0px  10px black;
        border-radius: 10px;    
        border: 2px solid rgb(50, 50, 119);
        padding: 20px;
        background-color: rgb(49, 49, 101);
    }
    .logins{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .title {
        font-size: 30px;
    }

    label {
        font-size: 15px;
    }

    input {
        max-width: 100%;
    }

    #login, #register {
        width: 100%;
        max-width: 150px;
    }
}